:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.logo img{
    width: 120px;
}
header .conteiner {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: baseline;
}

header nav a {
    text-decoration: none;
    color: wheat;
    margin: 10px;
}

header nav a:hover {
    color: #fff;
}

header nav a {
    transition: 0.5s ease all;
}

/*Filmes principal*/

.filme-principal {
    font-size: 1em;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url(/img/capa-liga-da-justica.jpg);
    height: 30em;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .sinopse {
    margin-bottom: 40px;
}
.titulo {
    margin-top: 10%;
    font-size: 3em;
    margin-bottom: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao {
    background-color: rgba(0, 0, 0, .50);
    border: 1px solid white;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 2s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}
.botao i {
    margin-right: 8px;
}
.sinop {
    letter-spacing: 0.4em;
    font-size: 1.5em;
    margin-top: 2%;
    margin-bottom: 1%;
    color: wheat;
}
.container {
    margin-left: 1.5em;
}
.filme-principal .container {
    width: 50%;
}