*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

    background-image: url(/img/imagem-de-fundo.jpeg);
    background-size: cover;

}
 
.container-main{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    
}
.logo{
   position:relative;
   right:34rem;
   margin-top: 1rem;
}
.logo img{
    padding:0;
   width:10rem;
   height:3rem;
}
.container-child{
    width: 34%;
    height: 100%;
    border-radius: 0.4rem;
    padding: 2.5rem 4rem 0rem;
    background-color: rgba(0,0,0,0.7);
}
.entrar{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.formulario>input{
    margin-top:1rem;
}
.formulario .button{
    margin-top: 2.5rem;
}
.formulario>input{
    outline: none;
    width: 100%;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: rgb(53, 52, 52);
    padding-left:1.3rem;
    font-weight: bold;
    font-size:1rem;
    color:#fff;
}
.button{
width: 100%;
height: 3rem;
background-color: #e50914;
font-size: 1rem;
color: #fff;
font-weight: bold;
border-radius: 0.3rem;
margin-bottom: 1rem;
cursor: pointer;
}

.form-checkbox{
    color:rgba(255,255,255,0.6);
    font-size:0.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.ajuda span a{
    text-decoration: none;
    color:rgba(255,255,255,0.6);
}
.ajuda span a:hover{
text-decoration: underline;
}

.facebook{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.facebook a{
    font-size: 0.8rem;
    margin-left: 1rem;
    text-decoration: none;
    color:rgba(255,255,255,0.6);
    
}
.facebook i{
    color: blue;
    font-size: 1.5rem;
}
.novo{
    color: rgba(255,255,255,0.6);
}
.assine a{
    text-decoration: none;
    color: #fff;
}
.assine a:hover{
    text-decoration: underline;
    cursor:pointer;   
}

.texto p{
    color: rgba(255,255,255,0.6);
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 9rem;
}
.saiba a{
    text-decoration: none;
}
.saiba a{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(33, 129, 240);
}


.footer{
    margin-top: 6rem;
    width: 100%;
    height: 40vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.4);

}

.footer-child{
    border: 1px solid red;
    width: 100%;
    margin-top:1.5rem;
    margin-left: 9rem;   
}
.first-paragrafo ul{
    display: flex;

}
.first-paragrafo ul li {
    list-style-type: none;

}
.first-paragrafo ul li a{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    font-size: 0.8rem;
}

