*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(/img/imagem-de-fundo.jpeg);
    background-size: cover;
    
}
.container-main{
    width: 100vw;
    height: 0% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);   
}
.nav{
    padding-left: 2.4rem;
    width: 100%;    
    margin-top: 1rem;
}
.nav .logo img{
    padding:0;
   width:100px;
   height:40px;
}
.container-child{
    width: 28rem;
    height: 100%;
    border-radius: 0.4rem;
    padding: 2.9rem 4rem 0rem;
    background-color: rgba(0,0,0,0.8);
}
.entrar{
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
.formulario>input{
    margin-top:1rem;
}
.formulario .button{
    margin-top: 2.5rem;
}
.formulario>input{
    outline: none;
    width: 100%;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: rgb(53, 52, 52);
    padding-left:1.3rem;
    font-weight: bold;
    font-size:1rem;
    color:#fff;
}
.button{
width: 100%;
height: 3rem;
background-color: #e50914;
font-size: 1rem;
color: #fff;
font-weight: bold;
border-radius: 0.3rem;
margin-bottom: 1rem;
cursor: pointer;
}
.form-checkbox{
    color:rgba(255,255,255,0.9);
    font-size:0.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.ajuda span a{
    text-decoration: none;
    color:rgba(255,255,255,0.9);
}
.ajuda span a:hover{
text-decoration: underline;
}
.facebook{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.facebook a{
    font-size: 0.8rem;
    margin-left: 1rem;
    text-decoration: none;
    color:rgba(255,255,255,0.5);   
}
.facebook i{
    color: blue;
    font-size: 1.5rem;
}
.novo{
    color: rgba(255,255,255,0.5);
}
.assine a{
    text-decoration: none;
    color: #fff;
}
.assine a:hover{
    text-decoration: underline;
    cursor:pointer;   
}
.texto p{
    color: rgba(255,255,255,0.5);
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 9rem;
}
.saiba a{
    text-decoration: none;
}
.saiba a{
    text-decoration: underline;
    cursor: pointer;
    color: rgb(33, 129, 240);
}
.footer{
    margin-top: 6rem;
    padding-left: 12%;
    width: 100%;
    height: 20rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.5);
}
.duvida p{
    margin-bottom: 1.5rem;
}
.footer-child{
    width: 100%;
    margin-top:2rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.footer-p ul li{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;  
}
.ul-first{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.ul-first li{
    margin-bottom: 1rem;
}


.ul-first li a{
    color: #fff;
    transition: 0.3s ease-in-out;
}
 .ul-first li a:hover{
 color: #fff;
 transition: 0.3s ease-in-out; 
}
.li-last{
    display: flex;
    align-self: flex-start;
}

.space-left li{
    padding-left:10vw;
}

/* media queries*/
@media screen and (max-width:760px) {
    body{
     background-image: none;    
     width: 100vw;
    }
    .container-main{
    background-color: rgb(0,0,0);
    display: flex;
    }
    .container-child{
    width: 100%;
    height: 100%;
    }

    .nav .logo img{
        padding:0;
       width:60px;
       height:20px;
    }
    .entrar{
        margin-bottom: 1rem;
    }
    .texto p{
        margin-bottom: 5rem;
    }
    .footer{    
        margin-top: 0;
        border-top: 1px solid rgba(255,255,255,0.5);
    }

    .footer{
        padding-left:2.4rem;
    }
    .li-last{
        display: flex;
        flex-direction: column;
    }

}

@media screen  and (max-width:520px){
    .ul-first{
        display: flex;
        flex-wrap: wrap;
    }
    .li-last{
        display: flex; 
        flex-direction: row;
        
    }
    .li-last li{
        padding-left: 0;
    }

    .li-last li:last-child{
        padding-left: 7em;
    }
    
}
@media screen and (max-width:400px) {
    .li-last li:last-child{
        padding-left:6rem;   
}
 
@media screen  and (max-width:370px){
   .ul-first {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
   .space-left  li{
       padding-left: 0;
       
   }
   .li-last{
       display: flex;
       flex-direction: column;
   }
   .li-last li:last-child{
    padding-left:0; 
   }
   .formulario>input{
       font-size: 0.8rem;
       padding-left: 0.8rem;
   }


}
}