*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(/img/imagem-de-fundo.jpeg);
    background-size: cover;
    
}
.container-main{
    width: 100%;
    height: 0% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,0.4)
}
.nav{
    width: 100%;    
    margin-top: 1rem;
    padding-left: 1.2rem;
}
.nav .soon img{
   width: 10rem;
   height:2.81rem;
}
.container-child{
    width: 28rem;
    height: 100%;
    border-radius: 0.4rem;
    padding: 0% 5% 0%;
    margin-top: 2rem;
    background-color: rgba(0,0,0,0.8);
}
.enter{
    color: #fff;
    margin-top: 3rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.form >input{
    margin-top:1rem;
}
.form .button{
    margin-top: 2.5rem;
}
.form >input{
    outline: none;
    width: 100%;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: rgb(53, 52, 52);
    padding-left:1.3rem;
    font-weight: 500;
    font-size:0.9rem;
    color:#fff;
}
.button{
width: 100%;
height: 3rem;
background-color: #e50914;
font-size: 1rem;
color: #fff;
font-weight: bold;
border-radius: 0.3rem;
margin-bottom: 1rem;
cursor: pointer;
}
.form-checkbox{
    color:rgba(255,255,255,0.9);
    font-size:0.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.help span a{
    text-decoration: none;
    color:rgba(255,255,255,0.9);
}
.help span a:hover{
text-decoration: underline;
}
.facebook{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.facebook a{
    font-size: 0.8rem;
    margin-left: 1rem;
    text-decoration: none;
    color:rgba(255,255,255,0.5);   
}
.facebook i{
    color: blue;
    font-size: 1.5rem;
}
.new{
    color: rgba(255,255,255,0.5);
}
.sign a{
    text-decoration: none;
    color: #fff;
}
.sign a:hover{
    text-decoration: underline;
    cursor:pointer;   
}
.text p{
    color: rgba(255,255,255,0.5);
    font-size: 75%;
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.know a{
    text-decoration:none;
    cursor: pointer;
    color: rgb(33, 129, 240);
}
.know a:hover{
    text-decoration: underline;
}

/*estilização da footer*/

.footer-main{
    margin-top: 5rem;
    padding: 2% 12% 0%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.5);
}

.phone a{
    text-decoration:none;
    color: rgba(255,255,255,0.5);
}
.phone a:hover{
    text-decoration: underline;
}

.list-child {
    margin-top:1.5rem;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    column-gap: 0.8rem;
    row-gap: 0.6rem;
      
}
.list ul li{
    list-style-type: none;
}
.list ul li a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%; 
}
.list ul li a:hover{
    text-decoration: underline;
}
.select{
    width: 120px;
    height: 40px;
    margin: 2rem 0rem 3rem;
    background-color:rgba(0,0,0,0.8);
    color: rgba(255,255,255,0.5);
    font-size: 75%;
    padding: 0.5rem;
    border: 0.1rem solid rgba(255,255,255,0.3);
    border-radius: 3px;
}

/* media queries*/
@media screen and (max-width:1200px){
    .footer-main{
        padding-left: 4%;
    }
}
@media screen and (max-width:740px) {
    body{
     background-image: none;    
     width: 100%;
    }
    .container-main{
    background-color: rgb(0,0,0);
    display: flex;
    }
    .container-child{
    width: 100%;
    height: 100%;
    margin-top:0;
    border-bottom:0.1rem solid rgba(255,255,255,0.5);
    }

    .enter{
        margin-bottom: 1rem;
    }
    .text p{
        margin-bottom: 5rem;
    }
    .footer{    
        margin-top: 0;
        border-top: 1px solid rgba(255,255,255,0.5);
    }

    .footer{
        padding-left:2.4rem;
    }
    .li-last{
        display: flex;
        flex-direction: column;
    }

    .list-child {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }
  
}

@media screen and (max-width:700px){

    .nav .soon img{
        padding:0;
       width:5rem;
       height:1.25rem;
       margin-bottom: 1rem;    
    }
    .enter{
        margin-top: 0.1rem;
    }
}

@media screen and (max-width:520px){
   
    .list-child{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.2rem;
    }
}
 
@media screen and (max-width:370px){
   
   .form >input{
       font-size: 0.8rem;
       padding-left: 0.8rem;
   }
  
}

@media screen and (max-width:300px){

    .list-child{
        display: grid;
        grid-template-columns: 1fr;
        column-gap:0.1rem;
        row-gap: 0.1rem;
    }
}
